$couleur-txt-clair: #f5f5f5;
$couleur-txt-fonce: #303030;
$couleur-btn: #d18b84;


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Exo', sans-serif;
    // width: 100%;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

ul{
    list-style-type: none;
}

h1 span{
    font-family: 'Nunito', sans-serif;
}

h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 auto 40px;
    color: $couleur-txt-fonce;
    font-family: 'Nunito', sans-serif;

}

a{
    text-decoration: none;
    color: $couleur-txt-fonce;
}

// .bouton-orange{
//     color: $couleur-txt-clair;
//     background-color: #E81C1C;
//     // background-color: #FF715B;
//     padding: 10px 16px;
//     border-radius: 20px;
//     font-size: 0.9rem;
//     display: block;
//     text-align: center;
//     margin: 30px auto 0;
//     width: 150px;
//     transition: 0.3s;
//     position: relative;
// }

// .bouton-orange:hover{
//     background-color: #a11616;
//     margin: 25px auto 0;
// }

.black{
    color: $couleur-txt-fonce;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover{
        color: rgb(168, 168, 168);
    }
}

.bouton-orange{
    border: none;
    border: 1px solid $couleur-btn;
    border-radius: 10px;
    padding: 8px 14px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: $couleur-txt-clair;
    background-color: $couleur-btn;
    &:hover{
        background: none;
        color: $couleur-btn;
        
    }
}

/* .bouton-orange:hover::after{
    content: "";
    width: 150px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 50px;
} */


.bande{
    width: 100%;
    height: 90px;
    // background: rgba(255, 255, 255, 0.793); 
    position: fixed;
    z-index: 10;
}

.fond-bande{
    // background-color: $couleur-txt-clair;
    background-color: white;
    transition: 0.5s;
    box-shadow: 0 0 6px black;
}



header#bandeau{
    background: url(../img/fond_mobile_header.jpg) no-repeat center;
    // background: white;
    // background-position: right;
    background-size: cover;
    width: 100%;
    height: 70vh;
    min-height: 500px;
    /* margin-top: 100px; */
    /* padding-top: 90px; */
    position: relative;
    /* top: 0; */
        #nav-bandeau{
            display: flex;
            justify-content: space-between;
            position: fixed;
            // Pour centrer la barre de nav 
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            /* top: 10px; */
            padding-top: 5px;
            z-index: 100000000000;
            margin: 0 auto;
                a:first-child{
                    z-index: 10000000;
                }
                .logo{
                    width: 80px;
                    height: auto;
                    margin-left: 20px;
                    /* margin-top: 20px; */
                    /* background-color: black; */
                    z-index: 1000000;
                }
        }
}


// header#bandeau #nav-bandeau #menu-bandeau input[type=checkbox]{
//     display: none;
//     position: absolute;
//     right: 10px;
//     z-index: 10000;
// }

header#bandeau #nav-bandeau #menu-bandeau #burger-img{
    display: block;
    text-align: right;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 25px;
    top : 12px;
}

header#bandeau #nav-bandeau #menu-bandeau #menu{
    /* display: flex;  */
    /* flex-wrap: wrap;  */
    /* flex-direction: row; */
    // display: none; 
    position: absolute; 
    left: 0;
    background-color: rgba(245, 245, 245, 1);
    /* background-color: rgb(26, 26, 26); */
    top: 0;
    text-align: center;
    /* box-sizing: border-box; */
    /* padding-right: 25px; */
    width: 100%;
    /* padding-left: 20px; */
    /* padding-top: 75px; */
    height: 100vh;
    padding: 30vh 0;
    box-sizing: border-box; 
    z-index: 100;
    color: $couleur-txt-fonce;
    // opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    &.active{
        // background-color: rebeccapurple;
        transform: translate(0);
    }
        li{
            padding: 20px 0;
        }

        // }
        // li:last-child 
        // }
        #croix{
            position: absolute;
            top: 25px;
            right: 40px;
            padding: 10px;
            cursor: pointer;
        }
}


// header#bandeau #nav-bandeau #menu-bandeau input[type=checkbox]:checked + #menu{
//     display: block;
//     // z-index: 1000;
// }


header#bandeau #text-header{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rebeccapurple;
    // width: 100%;
    #titre{
    // text-align: center;
    // color: $couleur-txt-clair;
    color: $couleur-txt-fonce;
    /* margin-top: 60px; */
    // padding-top: 250px;
    margin-bottom: 0;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 2.6rem;
    // background-color: white;
    span:last-child{
        font-size: 2rem;
    }
    hr{
        width: 100px;
        height: 1px;
        border: 1px solid $couleur-txt-fonce;
        // background-color: white;
        background-color: $couleur-txt-fonce;
        border-radius: 50%;
        // margin: 10px auto;
        color: $couleur-txt-fonce;
    }
}
}


header#bandeau p{
    // text-align: justify;
    // text-align: center;
    font-family: 'Exo', sans-serif;
    // color: $couleur-txt-clair;
    color: $couleur-txt-fonce;
    margin-top: 30px;
    font-size: 1.3rem;
    max-width: 250px;
    text-align: left;
    margin-left: 30px;
    // background-color: rebeccapurple;
}


main.container{
    width: 100%;
    section.contenu{
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        padding-top: 40px;
        // color: $couleur-txt-clair;
        color: $couleur-txt-fonce;
        // background-color: $couleur-txt-clair;
        background-color: rgb(255, 255, 255);
        .avion{
            // background-color: #101010;
            padding: 0px 5% 20px;
            // margin: 20px 0 0;
            box-sizing: border-box;
        }
        h4{
            font-size: 1.4rem;
            font-weight: 900;
            text-align: left;
            // margin-top: 10px;
            font-family: 'Raleway', sans-serif;
        }
        img{
            width: 100%;
            margin: 20px auto;
            border-radius: 10px;
        }
        h4#name-desktop{
            display: none;
        }
        p.description-avion{
            margin-bottom: 40px;
        }
        p.infos-avion{
            text-align: center;
            margin-top: 10px;
            span{
                font-weight: 600;
            }
        }
    }
}

main.container section.contenu article.location{
    background: url(../img/fond-location.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
    .location-content{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: rebeccapurple;
    }
    h2{
        color: $couleur-txt-clair;
        // margin-bottom: 50px;
    }
    p.conditions-location{
        text-align: center;
        font-weight: 100;
        width: 90%;
        margin: 0 auto;
        color: $couleur-txt-clair;
        line-height: 1.4rem;
    }
}


// ------------------------------------ Contact ------------------------------ 

main.container #contact{
    // background-color: #E81C1C;
    // background-color: #101f33;
    // background-color: #FF715B;
    // background-color: #EB3333;
    // background-color: rgb(223, 223, 223);
    color: $couleur-txt-fonce;
    margin-bottom: 80px;
    padding-top: 80px;
    p.renseignements{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        a{
            font-weight: 600;
        }
    }
}

// ------------------------------------------------ Formulaire de contact ----------------------------------

main.container #contact #contact-form{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
    input, textarea{
        width: 90%;
        margin: 12px auto 0;
        padding: 6px;
        border: none;
        border: 1px solid rgb(153, 153, 153);
        border-radius: 5px;
    }
    #champ-obligatoire{
        font-size: 0.7rem;
        font-style: italic;
        margin-top: 10px;
        width: 100%;
    }
    button{
        margin: 30px auto;
        cursor: pointer;
    }
}

main.container #contact #contact-form #utilisation-donnees{
    width: 100%;
    input{
    width: 20px;
    }
    label{
        font-size: 0.8rem;
    }
    p#alerte-accept-data{
        font-size: 0.7rem;
        color: rgb(241, 47, 47);
        margin-top: 10px;
        margin-left: 20px;
    }
}


// -------------------------------- footer --------------------------- 

footer#pied{
    text-align: center;
    background-color: $couleur-txt-fonce;
    color: $couleur-txt-clair;
    padding: 15px 0;
    a{
        color: $couleur-txt-clair;
        text-decoration: none;
    }
}


// ------------------------------- rgpd ---------------------------- 
#rgpd, #mentions-legales, #confirmation{
    width: 100%;
    margin: 50px auto;
    p{
        width: 85%;
        margin: 0 auto;
    }
    a.bouton-orange{
        // display: block;
        display: inline-block;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.8rem;
    }
}

#confirmation p{
    text-align: center;
    margin: 20px auto;
}


// ------------------------------------------------- MEDIA QUERIES ------------------------------------------ 
@media screen and (min-width:1024px){
   h2{
    font-size: 2.8rem;
   }

    header#bandeau #nav-bandeau{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header#bandeau #nav-bandeau #menu-bandeau{
        width: 50%;
    }

    header#bandeau #nav-bandeau #menu-bandeau #menu{
        display: flex;
        justify-content: space-between;
        position: relative; 
        background: none;
        text-align: right;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box; 
        transform: translate(0);
         li{
                padding: 0;
                margin: auto 0;
            }
            #croix{
                display: none;
            }
    }

    header#bandeau #nav-bandeau #menu-bandeau #burger-img{
        display: none;
    }

    // -------------------------------- Titre -----------------------------
    header#bandeau #text-header{
        #titre{
        font-size: 3.2rem;
        // background-color: white;
        span:last-child{
            font-size: 2.6rem;
        }
        hr{
            width: 150px;
        }
    }
    }


    // ----------------------------------- Main ------------------------------ 
    main.container{
        width: 100%;
        section.contenu{
            width: 100%;
            margin: 0 auto;
            // text-align: justify;
            padding-top: 40px;
            // color: $couleur-txt-clair;
            color: $couleur-txt-fonce;
            // background-color: $couleur-txt-clair;
            // background-color: rgb(177, 23, 23);
            .avion{
                display: flex;
                flex-wrap: wrap;
                // background-color: #101010;
                padding: 0px 5% 20px;
                // margin: 20px 0 0;
                box-sizing: border-box;
                width: 100%;
            }
            h2{
                width: 100%;
                // background: rebeccapurple;
                order: 1;
            }
            h4#name-mobile{
                display: none;
            }
            h4#name-desktop{
                display: block;
                font-size: 2rem;
                width: 100%;
                height: 50px;
                // background-color: rebeccapurple;
                font-weight: 900;
                text-align: center;
                margin: 20px 0;
                font-family: 'Raleway', sans-serif;
                order: 3;
            }
            img{
                width: 40%;
                margin: 20px auto;
                border-radius: 10px;
                float: left;
                order: 2;
            }
            #texte-avion{
                order: 4;
                width: 50%;
                align-self: center;
            }
        }
    }


    // ------------------------------------ Contact ------------------------------ 

main.container #contact{
    p.renseignements{
        width: 50%;
        a{
            font-weight: 600;
        }
    }
}

// ------------------------------------------------ Formulaire de contact ----------------------------------

main.container #contact #contact-form{
    width: 60%;
    input, textarea{
        width: 100%;
    }
    #champ-obligatoire{
        font-size: 0.7rem;
        font-style: italic;
        margin-top: 10px;
        width: 100%;
    }
    button{
        margin: 30px auto;
        cursor: pointer;
        padding: 12px 22px;
    }
}

main.container #contact #contact-form #utilisation-donnees{
    width: 100%;
    input{
    width: 20px;
    }
    label{
        font-size: 0.8rem;
    }
    p#alerte-accept-data{
        font-size: 0.7rem;
        color: rgb(241, 47, 47);
        margin-top: 10px;
        margin-left: 20px;
    }
}
}